<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Security Headers Checker - Not Found</title>
</head>
<body>
    <!-- Credits to Evavic44 for this 404 page: https://github.com/Evavic44/nextjs-custom-404 -->>
    <div class="errorContainer">
        <img class="image" src="{{ url_for('static', filename='media/error.svg') }}" alt="Error 404 - Not Found">
        <h1>404</h1>
        <p>There's no valid page here, please <a href="/">return home</a></p>
    </div>
</body>
</html>